/* body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100px;
  font-weight: 700;
  text-align: end;
}

/* Bulma CSS for 5 day weather icons
.bulma-ltr-property-mixin {
  margin-left: 1rem;
  border-radius: 0.25em;
} */

/* Bulma class button code: */
/* .bulma-control-mixin {
  @include control;
  background: #3273dc;
  color: ;
} */
